<?php

/**
 * Provide a cache extension which uses Redis, but only if
 * the Redis extension's loaded. More defensive programming
 * will need to be implemented in other parts of the app,
 * such as on connection, etc.
 */
if (extension_loaded('redis')) {
    return array(
        'caches' => array(
            'Cache\Transient' => array(
                'adapter' => 'redis',
                'ttl'     => 60,
                'plugins' => array(
                    'exception_handler' => array(
                        'throw_exceptions' => false,
                    ),
                ),
                'server' => array(
                    'host' => 'localhost',
                    'port' => '6379',
                )
            ),
            'Cache\Persistence' => array(
                'adapter' => 'filesystem',
                'ttl'     => 86400,
                'options' => array(
                    'cache_dir' => __DIR__ . '/../../data/cache/'
                )
            ),
        ),
        'service_manager' => array(
            'factories' => array(

            ),
        ),
    );
} else {
    return array();
}
